body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --subheading: Inter;

  /* font sizes */
  --subheading-size: 24px;
  --small-text-size: 16px;
  --body-text-size: 20px;
  --title-size: 64px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro-100: #e0e0e0;
  --color-black: #000;
  --color-darkslategray: #454545;
  --color-gray: #828282;

  /* Spacing */
  --spacing-xs: 8px;
  --spacing-s: 24px;
  --spacing-m: 48px;
  --spacing-sm: 32px;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-base: 16px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;

  /* Effects */
  --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
