body{
    float: left;
    border: 0cap;
    margin: auto;
    color: #7c5621;
    width: 100%;
}
.left {
    float: left;
    width: 25%;
    height: 1000px;
    margin-left: 7%;
    margin-top: 5%;
    background-color: rgb(206, 172, 128);
}
h2{
    text-align: center;
    font-feature-settings: "falt";
}
p{
    width: 80%;
    margin-left: 10%;
}
.right {
    float: left;
    width: 60%;
    height: 1000px;
    margin-right: 7%;
    margin-top: 5%;
    background-color: rgb(213, 203, 190);
    border-left: 3px solid #9d8058;
}
